---
// export const prerender = false;
import BaseLayout from '../../layouts/BaseLayout.astro';
import Beneficios from '../../components/Beneficios.astro';
import CategoriaProductos from '../../components/CategoriaProductos.vue';
import { get, formatCategorias, formatProductos } from '../../lib/api.js';

const { slug } = Astro.params;

//--- Load categoria ---//
const qry = {
    fltr: {
        tipo: { op: 'Es', val: '2' },
        nombre: { op: 'Es', val: slug.replaceAll('-', ' ') },
    },
    cols: ['nombre', 'descripcion'],
};
const res = await get('categorias', { qry });
const categorias = formatCategorias(res.data);
const categoria = categorias[0];

//--- Load productos ---//
const qry2 = {
    fltr: {
        activo: { op: 'Es', val: true },
        is_ecommerce: { op: 'Es', val: true },
        categoria: { op: 'Es', val: categoria.id },
    },
    cols: [
        'produccion_tipo',
        'categoria',
        'nombre',
        'unidad',
        'has_fv',
        'precio',
        'precio_anterior',
        'igv_afectacion',
        'fotos',
    ],
    incl: ['produccion_tipo1'],
};
const res2 = await get('productos', { qry: qry2 });
const productos = formatProductos(res2.data);
//--- Set líneas ---//
const lineas = [];
for (const a of productos) {
    const i = lineas.findIndex((b) => b.id == a.produccion_tipo);

    if (i === -1) {
        lineas.push(a.produccion_tipo1);
    }
}
---

<BaseLayout title={`${categoria?.nombre}`}>
    <div
        class="mx-auto px-6 py-8 flex flex-col md:flex-row justify-between items-start gap-8 md:gap-16"
    >
        <h1 class="text-3xl md:text-4xl font-semibold">
            {categoria.nombre}
        </h1>
        <p class="max-w-xl">{categoria.descripcion}</p>
    </div>

    <CategoriaProductos client:load productos={productos} lineas={lineas} />

    <Beneficios />
</BaseLayout>
