---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Beneficios from '../../components/Beneficios.astro';
import ProductosGrid from '../../components/ProductosGrid.vue';
import { getCategorias, getProductos } from '../../lib/api.js';

const { slug } = Astro.params;

const categoriasFltr = {
    nombre: { op: 'Es', val: slug.replaceAll('-', ' ') },
};
const categorias = await getCategorias(categoriasFltr);

const productosFltr = {
    categoria: { op: 'Es', val: categorias[0].id },
};
const productos = await getProductos(productosFltr);

const lineas = [
    {
        id: '1',
        nombre: 'FILTRANTE',
        imagen: 'https://sunka.pe/wp-content/uploads/2022/04/MGC15SL-3.jpg',
        slug: 'filtrante',
    },
    {
        id: '2',
        nombre: 'GRANEL',
        imagen: 'https://sunka.pe/wp-content/uploads/2022/04/MGC15SL-3.jpg',
        slug: 'granel',
    },
    {
        id: '3',
        nombre: 'LUXURY',
        imagen: 'https://sunka.pe/wp-content/uploads/2022/04/MGC15SL-3.jpg',
        slug: 'luxury',
    },
];
---

<BaseLayout title={`Categoría: ${slug}`}>
    <div
        class="mx-auto px-6 py-8 flex flex-col md:flex-row justify-between items-start gap-8 md:gap-16"
    >
        <h1 class="text-3xl md:text-4xl font-semibold">
            {categorias[0].nombre}
        </h1>
        <p class="max-w-xl">{categorias[0].descripcion}</p>
    </div>

    <ProductosGrid client:load productos={productos} lineas={lineas} />

    <Beneficios />
</BaseLayout>
