---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlendForm from '../components/BlendForm.vue';
import Beneficios from '@/components/home/Beneficios.astro';
import HeroPremium from '@/components/shared/HeroPremium.astro';
import bannerBlend from '@/assets/banner1.webp';
import { get, formatProductos } from '../lib/api.js';

const empaques = [
    { id: '1', nombre: 'CAJA', precio: 0.5 },
    { id: '2', nombre: 'LATA', precio: 1 },
    { id: '3', nombre: 'BOLSA', precio: 0.7 },
];

const qry1 = {
    fltr: {
        nombre: { op: 'Contiene', val: 'BLEND' },
    },
    cols: ['id', 'nombre', 'contenido_neto', 'fotos', 'unidad', 'has_fv', 'igv_afectacion'],
};

const res1 = await get('insumos', { qry: qry1 });
if (res1.code != 0) return;
const formatos = formatProductos(res1.data).sort(
    (a, b) => a.contenido_neto - b.contenido_neto
);

const qry = {
    fltr: {
        categoria: { op: 'Es', val: 'f000be66-e4b1-4334-b57a-0e356eb8c7a6' },
        is_ecommerce: { op: 'Es', val: true },
    },
    cols: ['id', 'nombre', 'precio', 'unidad', 'mp_tipo'],
};
const res = await get('insumos', { qry });
if (res.code != 0) return;

const hierbasBase = [];
const complementos = [];
const frutas = [];
const especias = [];

for (const a of res.data) {
    switch (a.mp_tipo) {
        case '1':
            hierbasBase.push(a);
            break;
        case '2':
            complementos.push(a);
            break;
        case '3':
            frutas.push(a);
            break;
        case '4':
            especias.push(a);
            break;
    }
}
---

<BaseLayout title="Crea tu Blend | SUNKA Herbal Tea">
    <HeroPremium
        imgSrc={bannerBlend}
        subtitle="Alquimia Personal"
        title="Crea tu Blend"
        description="Explora el arte de combinar ingredientes naturales. Diseña una infusión única, pensada exclusivamente por y para ti. Un proceso creativo donde cada elemento cuenta una historia."
    />

    <section class="bg-white py-24 md:py-32">
        <div class="max-w-4xl mx-auto px-6">
            <!-- Formulario -->
            <BlendForm
                client:load
                formatos={formatos}
                empaques={empaques}
                hierbasBase={hierbasBase}
                complementos={complementos}
                frutas={frutas}
                especias={especias}
            />
        </div>
    </section>

    <Beneficios />
</BaseLayout>

