---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Beneficios from '../../components/Beneficios.astro';
import LineaProductos from '../../components/LineaProductos.vue';
import { get, formatProductos } from '../../lib/api.js';

const { slug } = Astro.params;

//--- Load linea ---//
const qry = {
    fltr: {
        activo: { op: 'Es', val: true },
        nombre: { op: 'Es', val: slug.replaceAll('-', ' ') },
    },
    cols: ['nombre', 'descripcion'],
};
const res = await get('lineas', { qry });
const lineas = res.data;
const linea = lineas[0];

//--- Load productos ---//
const qry2 = {
    fltr: {
        activo: { op: 'Es', val: true },
        is_ecommerce: { op: 'Es', val: true },
        linea: { op: 'Es', val: linea?.id },
    },
    cols: [
        'linea',
        'categoria',
        'nombre',
        'unidad',
        'has_fv',
        'precio',
        'precio_anterior',
        'igv_afectacion',
        'fotos',
    ],
    incl: ['categoria1'],
    ordr: [['nombre', 'ASC']],
};
const res2 = await get('productos', { qry: qry2 });
const productos = formatProductos(res2.data);

//--- Set categorias ---//
const categorias = [];
for (const a of productos) {
    console.log(a);
    const i = categorias.findIndex((b) => b.id == a.categoria);

    if (i === -1) {
        categorias.push(a.categoria1);
    }
}
---

<BaseLayout title={`${linea?.nombre}`}>
    <div
        class="mx-auto px-6 py-8 flex flex-col md:flex-row justify-between items-start gap-8 md:gap-16"
    >
        <h1 class="text-3xl md:text-4xl font-semibold">
            {linea?.nombre}
        </h1>
        <p class="max-w-xl">{linea?.descripcion}</p>
    </div>

    <LineaProductos client:load productos={productos} categorias={categorias} />

    <Beneficios />
</BaseLayout>
